@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  scroll-behavior: smooth;
}

.darkModeAnimation {
  @apply transition-colors duration-[800ms] ease-in-out;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.mini-scrollbar::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

.coba {
  background-color: #9ea1a7;
}

.cutoff-text {
  --max-lines: 2;
  display: -webkit-box;
  -webkit-line-clamp: var(--max-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Variabel tema diatur oleh Tailwind (atau class) */
:root {
  --autofill-bg: oklch(92.9% 0.013 255.508);
  --autofill-text: black;
}

.dark {
  --autofill-bg: #313944; /* warna background dark mode */
  --autofill-text: #fff;
}
