@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  scroll-behavior: smooth;
}

.darkModeAnimation {
  @apply transition-colors duration-1000 ease-in-out;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.khusus::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

.coba {
  background-color: #9ea1a7;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  background-color: black !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
} */
